{{#pain}}
    <div class="pain-slider__wrapper">
        <div class="pain-slider__ticks"></div>
        <div class="pain-slider__range-bar">
            <hr/>
        </div>
        <div class="pain-slider__labels">
            <div> {{minMessage}} </div>
            <div> {{maxMessage}} </div>
        </div>
    </div>
{{/pain}}
